body, html {
    height: 100%;
  }
  
.bgImg{
    background-image: url("/assets/bmw2.jpg");
    height: 100%;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
    margin-left: 500px;
    position: fixed;
  top: 0;
  width: 100%
}

ul li{
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-right: 150px;
    opacity: 10;
    transition: 0.3s;
}

.header a{
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
    color: white;
    transition: width 2s, height 2s, transform 2s;
    
}

.header a:hover{
        color: grey;
        opacity: 0.6
        
}
