body, html {
    height: 100%;
  }
  
.bgImg{
    background-image: url("/assets/bmw3.jpg");
    height: 100%;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{




}

ul li{
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin-right: 150px;
    opacity: 10;
}

.header a{
    text-decoration: none;
    font-family: 'Caveat Brush', cursive;
    color: white;
    transform: scale(1.5);

}

.header a:hover{
        color: black;
        opacity: 0.6;
}

.first-sec{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin-top: 250px;
    margin-left: 350px;
    padding: 20px;
    background-color: grey;
    opacity: .9;
    display: inline-block;
}
